<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MW3Download.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <MW3Download.Properties.Settings>
            <setting name="DownloadDlc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadTeknoMW3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value>/CodMW3/</value>
            </setting>
            <setting name="FullDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HttpProxy" serializeAs="String">
                <value />
            </setting>
            <setting name="ManualProxyConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MemoryCacheSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeedLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableSpeedLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxDownloads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DownloadPaused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadGame" serializeAs="String">
                <value>False</value>
            </setting>
        </MW3Download.Properties.Settings>
    </userSettings>
</configuration>